body {
    margin: 0px;
    min-height: 100vh;
    background-color: beige;
}

#center-element {
    display: flex; 
    justify-content: center; 
    gap: 50px; 
}

.score {
    display: flex; 
    justify-content: center;
    gap:10px;
    background-color: grey;
    padding: 25px;
    width: 150px;
}